<%- include("partials/header", { bot, user, path, title: "Home" }) %>

<div class="container-sm center" style="margin-top: 25px;">
  <div class="d-grid gap-2 col-6 mx-auto">
        <h2 style="text-align: center;">Developers</h2>
        <div class="wrap">
        <div class="card" style="max-width: 15rem; margin: 2rem; min-width: 10em;">
            <%- `<img src="${bot.users.cache.get("798738506859282482").displayAvatarURL({ dynamic: true, size: 2048 })}" class="card">`%>
            <div class="card-body">
                <h5 class="card-title"><%= bot.users.cache.get("798738506859282482").username %></h5>
                <p class="card-text">Hey my name's Akira, Im the main developer of shoto and i also run <a href="https://www.aethersmp.com">Aether SMP</a> the Minecraft server! </p>
            </div>
        </div>
        <div class="card" style="max-width: 15rem; margin: 2rem; min-width: 10em;">
            <%- `<img src="${bot.users.cache.get("249638347306303499").displayAvatarURL({ dynamic: true, size: 2048 })}" class="card">`%>
            <div class="card-body">
                <h5 class="card-title"><%= bot.users.cache.get("249638347306303499").username %></h5>
                <p class="card-text">Hey my name's sab, I work on a Minecraft server called Nether Depths and a discord bot named Pup, I also want to be a chef for a living.</p>
            </div>
        </div>
    </div>
    <h2 style="text-align: center;">Contributors</h2>
    <div class="wrap">
    </div>
  </div>
</div>

<%- include("partials/footer") %>